
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Father Name:</th>
            <th>Mother Name:</th>
            <th>Dob:</th>
            <th>Address:</th>
            <th>Religion:</th>
            <th>Mobile Phone:</th>
            <th>Nationality:</th>

        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td>Mithun Chandra Chanda</td><br>
            <td>Keshab Chandra Chanda</td>
            <td>Dali Rani Chanda</td>
            <td>28.02.1999</td>
            <td>Uttar Laksam,Laksam,Comilla</td>
            <td>Hindu</td>
            <td>01789034490</td>
            <td>Bangladeshi</td>

        </tr>
    </tbody>

</table>


