
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2><br>
<b>SSC: </b> Laksam Pilot High School <b>GPA: </b> 5.0  <b>  Passing Year: </b> 2015 <br>
<b>HSC: </b> Hajigonj Govt. College <b>GPA: </b> 3.92  <b>  Passing Year: </b> 2018 <br>
<b>BSC: </b> American Inetrnational University Bangladesh <b>CGPA: </b> 3.72  <b>  Passing Year: </b> 2021 <br>

