
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Project type:</th>
            <th>Project Name:</th>
            <th>Upload Link:</th>
         
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Java</td>
            <td>Bank Mangement System</td>
            <td>github</td>
        </tr>

        <tr>
            <td>Database</td>
            <td>Hotel Mangement System</td>
            <td>github</td>
        </tr>

        <tr>
            <td>Computer Graphics</td>
            <td>Village Scenario</td>
            <td>github</td>
        </tr>

        <tr>
            <td>Web Tech</td>
            <td>Special Service Provider Mangement System</td>
            <td>github</td>
        </tr>



    </tbody>

</table>

