
@{
    ViewBag.Title = "References";
}

<h2>References</h2>

<b>Hridoy Majumder</b><br>
Cheif Executive Officer <br>
Grow 360 <br>
Mobile:01786443211 <br><br>

<b>Jawwad Jahangir</b><br>
Chief Executive Officer<br>
Outbox Events<br>
Mobile: 01933336366


